.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.legend-label {
    margin-bottom: 10px;
    font-weight: bold;
}
.gradient {
    display: flex;
    align-items: center;
    height: 20px;
    width: 400px;
    background: linear-gradient(to right, red, rgb(208, 255, 0), green);
    margin-bottom: 5px;
    border: 1px solid #000;
}
.legend-value {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.legend-value span {
    transform: translateX(-50%);
}
.disabled-button {
    background-color: gray;
    color: white; /* Optional: Change text color if needed */
}

#feedback-form.disabled {
    cursor: not-allowed;
}


.image-container {
    position: relative;
    width: 70%;
    padding-top: 70%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#prediction {
    display: block;
}

#heatmap1, #heatmap2, #heatmap3 {
    display: none;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#heatmap{
    display: none;
    opacity: 1;
}


#org-img {
    display: none;
}

