jupyter
numpy
ipykernel==6.29.4
matplotlib==3.8.4
patchify==0.2.3
tqdm==4.66.4
scikit-learn==1.4.2
pre-commit==3.7.1
tensorflow==2.10.1
tensorflow-io-gcs-filesystem==0.27.0
skan==0.11.1
logger==1.4
sphinx==7.3.7
sphinx-rtd-theme==2.0.0
poetry2conda==0.3.0
fastapi==0.111.0
uvicorn==0.30.1
sphinx-copybutton==0.5.2
opencv-contrib-python==4.10.0.82
